<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag posts_send_email_path, remote: true do %>
      <%= hidden_field_tag "user_id", @current_user.id %>
      <div class="modal-header">
        <div class="row">
          <div class="col-md-6">
            
          </div>

          <div class="col-md-3">
            <button class="form-control btn btn-primary add_more_forms"> <i class="fa fa-plus"></i> Add More</button>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="forms-div">
          <div class="user_form">
            <div class="form-group">
              <b style="color:#000;">Receiver Email: </b>
              <%= text_field_tag "user[0][email]", '', class: "form-control" %>
            </div>
            
            <div class="form-group">
              <b style="color:#000;">Email Subject : </b>
              <%= text_field_tag "user[0][subject]", '', class: "form-control" %>
            </div>  

            <div class="form-group">
              <b style="color:#000;">Email New Content : </b>
              <%= text_area_tag "user[0][content]", '', class: "form-control tinymce" %>
            </div> 
          </div>
        </div>
        
        <div class="actions">
          <%= submit_tag 'Submit', :class => 'btn btn-success'%>
          <button class="btn cancel btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  
  $('.add_more_forms').on('click', function (e) {
    e.preventDefault()
    var forms_count = $('.forms-div').find('.user_form').length
    var user_email_row = "<div class='form-group'><b style='color:#000;'>Receiver Email: </b><input type='text' name='user[" + forms_count + " ][email]' class = 'form-control'></div> "

    var user_subject_row = "<div class='form-group' style='margin-top:15px;'><b style='color:#000;'>Email Subject: </b><input type='text' name='user[" + forms_count + " ][email]' class = 'form-control'></div> "

    var user_content_row = "<div class='form-group' style='margin-top:15px;'><b style='color:#000;'>Email Content: </b><input type='textarea' name='user[" + forms_count + " ][content]' class = 'form-control tinymce'></div> "
    
    $('.forms-div').append("<hr><div class = 'user_form'> " + user_email_row + user_subject_row + user_content_row + " </div")
  })

  tinymce.init({ selector:'textarea.tinymce' });
  
</script>